@import "./_Functions.scss";
@import "./_Variables.scss";
*{
    margin: 0px;
    border: 0px;
}
body{
    background-color: lightskyblue;
}

.Header{
    width: 100%;
    height: 150px;
    background: $bluecolor;
    h1{
        color: $whitecolor;
        padding-top: 10px;
        font-size: 100px;
        text-align: center;
        font-family: 'Noto Sans', sans-serif;
    }
}

.Meny{
    position: relative;
    height: 100px;
    width: 100%;
    background-color:royalblue;
}
.bild1{
    @include ThreePictures;
}
.bild2{
    @include ThreePictures;
}
.bild3{
    @include ThreePictures;
}